/* main.css */

/* Resetando margens e preenchimentos */
body, h1, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do contêiner */
.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

/* Estilo do título */
h1 {
    left:0%;
    margin-bottom: 20px;
    color: #0056b3;
    padding-left: 50px;
}

/* Estilo dos rótulos */
label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

/* Estilo dos campos de entrada */
input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão */
button:hover {
    background-color: #004494;
}
div#titulo{
    padding-left: 50px;

}